@media only screen and (min-width: 60em) {
    header {
        height: 200px;
    }

    h1 {
        font-size: 2.8em;
    }

    h2 {
        font-size: 1.8em;
    }

    h3 {
        font-size: 1.4em;
    }

    p,
    li {
        font-size: 1.2em;
    }

    td,
    th {
        padding: 10px;
        font-size: 1.5em;
    }

    header img {
        height: 100%;
    }
}