.top-header, nav {
    width: 100%;
}

.nav-bar {
    display: flex;
}

.nav-bar li {
    display: block;
    flex: auto;
}

.nav-bar li:first-child {
    display: none;
}

nav {
    font-size: 23px;
}

h1 {

    font-size: 27px;
}

h2 {
    font-size: 22px;
}

h3 {
    font-size: 18px;
}

p {
    font-size: 16px;
    line-height: 18px;
}

main section {
    padding: 25px;
}

footer {
    font-size: 20px;
}

.confirmation-p {
    font-size: 18px;
    line-height: 20px;
}




// Home Page




.forecast-container {
    display: block;
    grid-column: 1 / 3;
    position: relative;
    top: -20px;
}

.current-weather-heading {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
}

.current-weather {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    font-size: 30px;
    flex-direction: row;
    position: relative;
    top: -12px;
}

.forecast-container {
    grid-column: 1 / 3;
    grid-row: 5 / 6;
}

.forecast-heading {
    grid-column: 1 / 3;
    grid-row: 3 / 4;
}

.forecast-days, .forecast-data {
    flex-direction: row;
    font-size: 30px;
}

.call-to-action {
    grid-column: 1 / 2;
    grid-row: 6 / 7;
}

.rental-info {
    grid-column: 2 / 3;
    grid-row: 6 / 7;
}

.scooter-img {
    grid-column: 1 / 3;
    grid-row: 7 / 8;
    max-width: 750px;
}

.contact-info {
    grid-column: 1 / 3;
    grid-row: 8 / 9;
}

.current-weather div {
    width: 200px;
    height: 50px;
    padding-top: 12px;
}

.forecast-days div {
    width: 100px;
    height: 50px;
    padding-top: 12px;
}

.forecast-data div {
    width: 100px;
    height: 50px;
    padding-top: 12px;
}



// Rentals



.rentals-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}

.rentals-grid th {
    font-size: 25px;
    padding: 5px;
}

.rentals-grid td {
    font-size: 20px;
    padding: 5px;
}

.rentals-grid table {
    grid-column: 1 / 3;
}

.rentals-grid h1{
    grid-column: 1 / 3;
}

.rentals-grid section {
    font-size: 20px;
}

.rentals-scooters {
    grid-column: 1 / 2;
    grid-row: 4 / 5;
}

.rentals-atv {
    grid-column: 2 / 3;
    grid-row: 5 / 6;
}

.rentals-jeeps {
    grid-column: 1 / 2;
    grid-row: 6 / 7;
}

.scooters-img{
    grid-column: 2 / 3;
    grid-row: 4 / 5;
}

.atv-img {
    grid-column: 1 / 2;
    grid-row: 5 / 6;
}

.jeep-img {
    grid-column: 2 / 3;
    grid-row: 6 / 7;
}

.info-services {
    grid-column: 1 / 3;
    grid-row: 7 / 8;
}



// Reservations



.reservations-form {
    font-size: 20px;
}

.reservations-rental-info ul {
    font-size: 16px;
}

.reservations-rental-info {
    flex-direction: row;
}

.reservations-form textarea {
    padding: 10px;
    width: 500px;
    height: 100px;
}




// Tours 




.tours-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.tours-grid h1 {
    grid-column: 1 / 3;
}

.tours-sites {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
}

.Interesting-facts {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
}

.tourist-map {
    max-width: 900px;
    grid-column: 1 / 3;
    grid-row: 2 / 3;
}