// Header
$headBack: #B0D1E8;

// Nav
$navTextColor: #ffffff;
$navBack: #1B86C4;

// Footer
$footBack: #90F3FF;

// Links


// General
$headerColor: #0D3082;
$backColor: #DFFDFF;

$headingFont: 'Della Respira';
$generalFont: 'Sahitya';

