@import url('https://fonts.googleapis.com/css?family=IM+Fell+Great+Primer+SC&display=swap');

body {
    background-color: rgb(58, 104, 163);
    font-size: 16px;
    font-family: Helvetica, arial, verdana, sans-serif;
}

.page-container {
    max-width: 960px;
    margin: 0 auto;
}



/*For Homepage Only*/

.home-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 15px;
}

.home-headline-1 {
    grid-column: 1 / 4;
    grid-row: 1 / 2;
    padding-left: 20px;
}

.home-paragraph-1 {
    grid-column: 2 / 4;
    grid-row: 2 / 4;
    position: relative;
    left: -60px;
    top: -20px;
    font-size: 1.6rem;
}

.home-right-img {
    grid-column: 4 / 6;
    grid-row: 1 / 3;
    width: 100%;
    height: auto;
    position: relative;
    left: -45px;
    top: 20px;
}

.home-headline-2 {
    grid-column: 3 / 6;
    grid-row: 4 / 5;
    margin: 20px;
    position: relative;
    right: -30px;
}

.home-paragraph-2 {
    grid-column: 4 / 6;
    grid-row: 5 / 7;
    position: relative;
    left: -40px;
    top: -20px;
    font-size: 1.43rem;
}

.home-left-img {
    grid-column: 1 / 3;
    grid-row: 4 / 6;
    width: 100%;
    height: auto;
    position: relative;
    right: -20px;
}

.home-headline-3 {
    text-align: center;
}

.home-paragraph-3 {
    grid-column: 1 / 6;
    grid-row: 7 / 8;
    margin: 20px;

}

.banner-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
    
.banner-box img {
    grid-column: 1 / -1; 
    grid-row: 1;
    width: 100%;
    height: auto;
}
    
.action {
    grid-column: 2 / 3;
    grid-row: 1;
    background-color: rgba(240, 240, 240, 0.8);
    margin: 1em 3em;
    padding: 1em;
    text-align: center;
    font-size: 1.35rem;
}
    
.action button {
    line-height: 2em;
    width: 10em;
    background-color: #e7c24f;
    font-size: 1.2em;
}



/*For Rivers Page Only*/

.rivers-grid {
    display: grid;
    grid-gap: 15px;
}

.rivers-main-headline {
    grid-column: 1 / 10;
    grid-row: 1 / 2;
    font-size: 3rem;
    text-align: center;
}

.rivers-headline-1 {
    grid-column: 2 / 4;
    grid-row: 2 / 3;
    font-size: 2rem;
    text-align: center;
    position: relative;
    top: -10px;
    right: -15px;
}

.rivers-left-img {
    grid-column: 1 / 5;
    grid-row: 3 / 6;
    position: relative;
    top: -20px;
    right: -40px;
}

.rivers-paragraph-1 {
    grid-column: 1 / 5 ;
    grid-row: 6 / 8;
    font-size: 1.2rem;
    margin-left: 35px;
    position: relative;
}

.rivers-headline-2 {
    grid-column: 7 / 8;
    grid-row: 2 / 3;
    font-size: 2rem;
    text-align: center;
    position: relative;
    bottom: -15px;
}

.rivers-right-img {
    grid-column: 7 / 8;
    grid-row: 3 / 6;
    position: relative;
    top: -18px;
    right: -5px;
}

.rivers-paragraph-2 {
    grid-column: 6 / 9;
    grid-row: 6 / 8;
    font-size: 1.1rem;
    margin: 20px;
    position: relative;
}

.rivers-headline-3 {
    grid-column: 1 / 10;
    grid-row: 8 / 9;
    font-size: 2rem;
    text-align: center;
    position: relative;
}

.rivers-bottom-img {
    grid-column: 3/ 8;
    grid-row: 9 / 12;
    position: relative;
    right: -25px;
}

.rivers-paragraph-3 {
    grid-column: 2 / 8;
    grid-row: 12 / 13;
    font-size: 1.2rem;
    position: relative;
    left: -30px;
    margin-bottom: 30px;
}



/*For Blog Page Only*/

.blog-grid {
    display: grid;
    grid-gap: 15px;
}

.blog-main-headline {
    grid-column: 1 / 11;
    grid-row: 1 / 2;
    position: relative;
    font-size: 3rem;
    text-align: center;
}

.blog-headline-1 {
    grid-column: 3 / 9;
    grid-row: 2 / 3;
    position: relative;
    top: -40px;
    right: -40px;
    font-size: 2rem;
}

.blog-paragraph-1 {
    grid-column: 2 / 10;
    grid-row: 3 / 4;
    position: relative;
    font-size: 1.45rem;
    top: -70px;
    margin-left: 20px;
    margin-right: 20px;
}

.blog-headline-2 {
    grid-column: 2 / 4;
    grid-row: 5 / 6;
    position: relative;
    top: -70px;
    right: -45px;
    font-size: 2rem;
    text-align: center;
}

.blog-left-img {
    grid-column: 2 / 5;
    grid-row: 6 / 9;
    position: relative;
    top: -70px;
    right: -20px;
}

.blog-paragraph-2 {
    grid-column: 1 / 5;
    grid-row: 9 / 13;
    position: relative;
    top: -70px;
    right: -22px;
    font-size: 1.45rem;
    margin: 20px;
}

.blog-headline-3 {
    grid-column: 7 / 10;
    grid-row: 5 / 6;
    position: relative;
    top: -50px;
    left: -25px;
    font-size: 2rem;
    text-align: center;
}

.blog-right-img {
    grid-column: 7 / 10;
    grid-row: 6 / 9;
    position: relative;
    top: -85px;
}

.blog-paragraph-3 {
    grid-column: 7 / 10;
    grid-row: 9 / 13;
    position: relative;
    top: -70px;
    left: -20px;
    font-size: 1rem;
    margin: 15px;
}



/*Below is everything that affects all the pages*/

header,
nav,
footer {
    max-width: 960px;
}

header {
    background-color: rgb(209, 146, 30);
    color: rgb(5, 95, 74);
    border: 5px solid #333;
    padding: 15px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

section img {
    box-shadow: 8px 8px 15px;
}

header img {
    width: 150px;
    height: auto;
}

header h1 {
    font-size: 3.5rem;
    font-family: "IM Fell Great Primer SC";
    margin: 0 0 0 10px;
}

h2 {
    color: #333;
    font-family: "IM Fell Great Primer SC";
    font-size: 2.5rem;
}

main {
    background-color: rgb(59, 161, 148);
}

p {
    background-color: rgb(159, 185, 97);
    font-size: 1.3rem;
    padding: 10px;
}

nav {
    background-color: rgb(197, 163, 68);
    border: 4px solid #333;
    text-align: center;
    padding: 5px;
    font-size: 1.5rem;
    margin-top: 10px;
    margin-bottom: 10px;
}

nav a:link {
    color: #0F3B6D;
}

nav a:visited {
    color: #2E0854;
}

nav a:hover {
    color: rgb(85, 69, 18);
    background-color: rgb(211, 191, 79);
}

nav ul {
    display: flex;
}

nav li {
    margin-right: 200px;
}

.motto {
    font-family: "IM Fell Great Primer SC";
    letter-spacing: 1pt;
    font-size: 1.7rem;
    margin-left: 50px;
}

.social {
    background-color: rgb(197, 163, 68);
    border: 4px solid #333;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 35px;

}
.socialText {
    font-size: 1.3rem;
    position: relative;
    bottom: -30px;
}

.socialIcons {
    margin-left: 20px;
    position: relative;
    right: -650px;
    top: -10px;
}

@media screen and (max-width: 550px) {
    .home-grid {
      display: block;
    }
  }